#menuPane {
    -fx-background-color: #141111;
}

.label {
    -fx-text-fill: #a6acad;
}

#genNumber {
    -fx-text-fill: #a6acad;
    -fx-background-color: #141111;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: #a6acad;
}